/* #root {
    background-color: blanchedalmond;
    padding: 15px;
    margin: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heading1 {
    background-color: cadetblue;
}

#heading2 {
    background-color: coral;
}

.heading1 {
    background-color: cadetblue;
}

.heading2 {
    background-color: coral;
}

.title {
    background-color: crimson;
}

 */


.logo {
    width: 120px;
    height: 40px;
}

.header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    border: solid;
    border-radius: 2px;
}

.body {
    /* width: 100px; */
    border: 2px solid black;
    border-radius: 2px;
    margin: 25px;
    display: flex;
    overflow: auto;
}

.list {
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    cursor: pointer;
}

.card {
    margin: 10px;
    border: 1px solid black ;
    width: 150px;
    padding: 10px;
}

.card > img {
    width: 150px;
}